[stepper_x]
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_x]
diag_pin: ^x_diag_pin
driver_SGTHRS: 128

[stepper_y]
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_y]
diag_pin: ^y_diag_pin
driver_SGTHRS: 128

[gcode_macro HOMING]
variable_safe_home_xy: (90,90)
variable_xy_speed: 3000
variable_rebound: 5.0
variable_rebound_speed: 1500
variable_clearance_hop: 10
variable_clearance_hop_speed: 300
variable_homing_current_x: 0.417479
variable_homing_current_y: 0.608328
variable_homing_accel: 1000
variable_pause: 1000
gcode:
  {% if 'SAFE_HOME_XY' in params
      or 'XY_SPEED' in params
      or 'REBOUND' in params
      or 'REBOUND_SPEED' in params
      or 'CLEARANCE_HOP' in params
      or 'CLEARANCE_HOP_SPEED' in params
      or 'HOMING_CURRENT_X' in params
      or 'HOMING_CURRENT_Y' in params
      or 'HOMING_ACCEL' in params
      or 'PAUSE' in params %}
      {% for p in params %}
        SET_GCODE_VARIABLE MACRO=HOMING VARIABLE={p|lower} VALUE={params[p]}
      {% endfor %}
  {% endif %}
  
  {% if not params %}
    {% set vars = printer["gcode_macro HOMING"] %}
    {% set output = [] %}
    {% for v in vars %}
      {% set null = output.append(v ~ ": " ~ vars[v]) %}
    {% endfor %}
    { action_respond_info(output|sort|join('\n')) }
  {% endif %}

#[safe_z_home]
#home_xy_position: 90,90
#speed: 60.0
#z_hop: 5
#z_hop_speed: 30.0

[homing_override]
axes: xyz
set_position_z: 5
gcode:
  {% set homing_vars = printer["gcode_macro HOMING"] %}
  {% set safe_home_xy = homing_vars.safe_home_xy %}
  {% set xy_speed = homing_vars.xy_speed %}
  {% set rebound = homing_vars.rebound %}
  {% set rebound_speed = homing_vars.rebound_speed %}
  {% set clearance_hop = homing_vars.clearance_hop %}
  {% set clearance_hop_speed = homing_vars.clearance_hop_speed %}
  {% set homing_current_x = homing_vars.homing_current_x %}
  {% set homing_current_y = homing_vars.homing_current_y %}
  {% set homing_accel = homing_vars.homing_accel %}
  {% set pause = homing_vars.pause %}

  {% set accel = printer.toolhead.max_accel %}
  {% set accel_to_decel = printer.toolhead.max_accel_to_decel %}

  {% set requested = '' %}
  
  {% if not 'X' in params
      and not 'Y' in params
      and not 'Z' in params %}
    {% set requested = 'xyz' %}
  {% else %}
    {% if 'X' in params %}
      {% set requested = requested ~ 'x' %}
    {% endif %}
    {% if 'Y' in params %}
      {% set requested = requested ~ 'y' %}
    {% endif %}
    {% if 'Z' in params %}
      {% set requested = requested ~ 'z' %}
    {% endif %}
  {% endif %}

  {% if 'x' in requested
      or 'y' in requested %}
    G1 Z{clearance_hop} F{clearance_hop_speed}
  {% endif %}

  {% if 'x' in requested %}
    _SENSORLESS_HOME_AXIS AXIS='x' CURRENT={homing_current_x} ACCEL={homing_accel} REBOUND={rebound} REBOUND_SPEED={rebound_speed} PAUSE={pause}
    G1 X{safe_home_xy[0]} F{xy_speed}
  {% endif %}
  {% if 'y' in requested %}
    _SENSORLESS_HOME_AXIS AXIS='y' CURRENT={homing_current_y} ACCEL={homing_accel} REBOUND={rebound} REBOUND_SPEED={rebound_speed} PAUSE={pause}
    G1 Y{safe_home_xy[1]} F{xy_speed}
  {% endif %}
  {% if 'z' in requested %}
     {% if not  'x' in requested or not 'y' in requested %}
        CARTOGRAPHER_TOUCH_HOME
     {% else %}
        G28.6245197 Z
     {% endif %}
     G1 X{safe_home_xy[0]} Y{safe_home_xy[1]} Z1
  {% endif %}
  
  {% if printer.toolhead.max_accel != accel %}
    SET_VELOCITY_LIMIT ACCEL={accel} ACCEL_TO_DECEL={accel_to_decel}
  {% endif %}

[gcode_macro _SENSORLESS_HOME_AXIS]
gcode:
  {% set axis = params.AXIS|lower %}
  {% if axis == 'x' %}
    {% set stepper = "stepper_x" %}
    {% set driver_config = printer.configfile.settings["tmc2209 stepper_x"] %}
    {% set run_current = driver_config.run_current %}
  {% elif axis == 'y' %}
    {% set stepper = "stepper_y" %}
    {% set driver_config = printer.configfile.settings["tmc2209 stepper_y"] %}
    {% set run_current = driver_config.run_current %}
  {% endif %}
  
  {% set homing_current = params.CURRENT|float %}
  {% set homing_accel = params.ACCEL|float %}
  {% set rebound = params.REBOUND|float %}
  {% set rebound_speed = params.REBOUND_SPEED|float %}
  {% set pause = params.PAUSE|int %}
  
  SET_TMC_CURRENT STEPPER={stepper} CURRENT={homing_current}
  SET_VELOCITY_LIMIT ACCEL={homing_accel} ACCEL_TO_DECEL={homing_accel * 0.5}

  G4 P{pause}

  G28.6245197 {axis}0

  {% if 'REBOUND' in params %}
    G91
    G1 {axis}{rebound} F{rebound_speed}
    G90
  {% endif %}

  SET_TMC_CURRENT STEPPER={stepper} CURRENT={run_current}

  G4 P{pause}
