# All customizations are documented in globals.cfg. Just copy a variable from
# there into the section below, and change the value to meet your needs.

[gcode_macro _km_options]
# These are examples of some likely customizations:
# Any sheets in the below list will be available with a configurable offset.
variable_bed_surface_max_name_length: 25
variable_bed_surfaces: ['frostbite-coarse_finish','glacier-fine_finish', 'textured_pei', 'smooth_pei']
# Length (in mm) of filament to load (bowden tubes will be longer).
variable_load_length: 90.0
# Global minimum extruder temp for loading (default: min_extrude_temp + 5).
variable_load_min_temp: 240
# Length (in mm) of the extruder meltzone (feeds at priming speed).
variable_load_priming_length: 25.0
# Hide the Octoprint LCD menu since I don't use it.
variable_menu_show_octoprint: False
# X position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_x: 90.0
# Y position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_y: 90.0
# Z position to park toolhead (set "max" or "min" to infer from stepper config).
variable_park_z: 1.0
# Minimum printable XY coordinate. Defaults to X and Y position_min.
variable_print_min: (0,0) # example: (0, 0)
# Maximum printable XY coordinate. Defaults to X and Y position_max.
variable_print_max: (180,180) # example: (180, 180)
# If non-zero the extruder will stabilize at this temp before probing the bed.
variable_start_extruder_probing_temp: 145.0
# Length of filament (in millimeters) to purge at print start.
variable_start_purge_length: 45.0
# Length of filament (in millimeters) to prime before drawing purge lines.
variable_start_purge_prime_length: 12.5
# Skip level and load saved mesh for current sheet (if found); False to disable.
variable_start_try_saved_surface_mesh: False
gcode:
# Any code you put here will run at klipper startup, after the initialization
# for these macros. For example, you could uncomment the following line to
# automatically adjust your bed surface offsets to account for any changes made
# to your Z endstop or probe offset.
  _REGISTER_LED_STATUS_EFFECTS
  _TOGGLE_FILAMENT_SENSOR_ON_PRINT_STATUS
  LIGHTS_ON
  GCODE_ON_PRINT_STATUS STATUS=printing COMMAND="SKEW_PROFILE LOAD=default_skew_profile"
  GCODE_ON_PRINT_STATUS STATUS=printing COMMAND="SKEW_PROFILE SAVE=pausing_skew_profile" ARGS=1 TYPE=LEAVE FILTER_LEAVE=pausing
  GCODE_ON_PRINT_STATUS STATUS=pausing COMMAND="SKEW_PROFILE LOAD=pausing_skew_profile" ARGS=1 TYPE=LEAVE FILTER_LEAVE=printing
  GCODE_ON_PRINT_STATUS STATUS=pausing COMMAND="SKEW_PROFILE REMOVE=pausing_skew_profile" ARGS=1 TYPE=LEAVE
  GCODE_ON_PRINT_STATUS STATUS=cancelling,completing COMMAND="SET_SKEW CLEAR=1" ARGS=1 TYPE=ENTER

# This line includes all the standard macros.
[include klipper-macros/*.cfg]
# Uncomment to include features that require specific hardware support.
# LCD menu support for features like bed surface selection and pause next layer.
#[include klipper-macros/optional/lcd_menus.cfg]
# Optimized bed leveling
[include klipper-macros/optional/bed_mesh.cfg]
# LED Status Effects
[include klipper-macros/optional/led_effects.cfg]

# The sections below here are required for the macros to work. If your config
# already has some of these sections you should merge the duplicates into one
# (or if they are identical just remove one of them).
[idle_timeout]
gcode:
  _KM_IDLE_TIMEOUT # This line must be in your idle_timeout section.

[pause_resume]

[respond]

[save_variables]
filename: ~/printer_data/variables.cfg

[display_status]

[exclude_object]
